{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "plugins": [
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "userModel": true,
    "categoryModel": true,
    "request": true,
    "expect": true
  },
  "extends": "airbnb"
}
